<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--别名-->
   <typeAliases>
       <package name="com.whxh.house.entity" />
   </typeAliases>
    <!--分页插件:支持-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <!--配置mapper.xml文件-->
    <mappers>
        <mapper resource="com/whxh/house/mapper/DistrictMapper.xml"></mapper>
        <mapper resource="com/whxh/house/mapper/HouseMapper.xml"></mapper>
        <mapper resource="com/whxh/house/mapper/StreetMapper.xml"></mapper>
        <mapper resource="com/whxh/house/mapper/TypeMapper.xml"></mapper>
        <mapper resource="com/whxh/house/mapper/UsersMapper.xml"></mapper>
    </mappers>


</configuration>